.div1 {
  background-color: #2b3453;
  height: 100%;
}

.piechartContainer {
  /* background: blue; */
  margin-top: 50px;
}

.piechartImg {
  width: 240px;
  height: 240px;
}

.disDiscription {
  width: 125px;
  height: 20px;
  left: 275px;
  top: 125px;

  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
}

.solContainer {
  /* background: green; */
  display: flex;
  padding-top: 5px;
}

.solImg {
  width: 30px;
  height: 30px;
}

.solFont {
  margin-left: 10px;
  margin-top: 6px;
  /* background: red; */
}

.menuItem {
  color: white;
}

.text {
  color: white;
}

.div0 {
  font-weight: 700;
  width: 444px;
  height: 532px;
  display: flex;
  flex-direction: row;
}

.diva1 {
  font-weight: 700;
  width: 444px;
  height: 532px;
  display: flex;
  flex-direction: column;
}

.div3 {
  font-weight: 700;
  width: 444px;
  height: 532px;
  display: flex;
  flex-direction: row;
}

.cardContainer1 {
  width: 310px;
  height: 200px;
  left: 17.5%;
  top: 368px;
  display: flex;
  flex-direction: row;
}

.cardContainer2 {
  width: 50px;
  height: 200px;
  left: 39%;
  top: 368px;
}

.cardConainer3 {
  width: 533px;
  height: 424px;
  left: 53.5%;
  top: 21%;
}

.totalassetContainer {
  color: #ffff;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.totalAsset {
  font-size: 25px;
}

.totalAmount {
}

.dollarIcon {
}

.currencyIcon {
}

.tokensAmount {
}

.tokensFont {
  width: 78px;
  height: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}

.portfolioFont {
  color: #ffff;
  padding: 10px;
  padding-top: 20px;
  width: 56px;
  height: 60px;

  font-weight: 900;
  font-size: 48px;
  line-height: 125%;
}

.TableContainer {
  top: 598px;
}

.tableRow {
  color: #ffff;
}

.loading {
  margin-top: 20%;
}
