.div1 {
  background-color: #2b3453;
  height: 100%;
}

.piechartContainer {
  /* background: blue; */
  margin-top: 10%;
}

.piechartImg {
  width: 150px;
  height: 150px;
}
.solImg {
  position: absolute;
  /* background: red; */
  width: 15%;
  left: 5%;
  top: 5%;
}
.solImg2 {
  position: absolute;
  /* background: red; */
  width: 12%;
  left: 4%;
  top: 5%;
}

.solFont {
  position: absolute;
  /* background: blue; */
  color: #ffff;
  font-size: 10px;
  text-align: center;
  width: 15%;
  left: 35%;
  top: 47%;
}
.solFont2 {
  position: absolute;
  /* background: blue; */
  color: #ffff;
  font-size: 10px;
  text-align: center;
  width: 15%;
  left: 35%;
  top: 55%;
}
.solFont3 {
  position: absolute;
  /* background: blue; */
  color: #ffff;
  font-size: 10px;
  text-align: center;
  width: 15%;
  left: 35%;
  top: 63%;
}
.solFont4 {
  position: absolute;
  /* background: blue; */
  color: #ffff;
  font-size: 10px;
  padding-left: 4.5%;
  width: 15%;
  left: 35%;
  top: 71%;
}
.menuItem {
  color: white;
}

.text {
  color: white;
}

.cardContainer0 {
  position: absolute;
  font-weight: 700;
  width: 444px;
  height: 532px;
}

.totalAmount {
  display: flex;
  color: #ffff;
  padding: 10px;
  padding-top: 20px;
  width: 434px;
  height: 70px;
  font-weight: 700;
  font-size: 56px;
  line-height: 165%;
  font-size: 50px;
}

.dollarIcon {
  /* background: red; */
  color: #ffff;
  padding-top: 6%;
  padding-left: 2%;
  width: 100%;
  height: 10%;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
}

.amount {
  position: absolute;
  color: #ffff;
  top: 0%;
  left: 8%;
  font-size: 50px;
  font-weight: 700;
}

.currencyIcon {
  color: #ffff;
  position: absolute;
  top: 11.6%;
  left: 75%;
  font-size: 20px;
  font-weight: 700;
}

.tokensAmount {
  position: absolute;
  /* background: red; */
  color: #ffff;
  top: 0%;
  left: 8%;
  font-size: 50px;
  font-weight: 700;
}

.tokensFont {
  position: absolute;
  /* background: red; */
  color: #ffff;
  top: 100%;
  left: 110%;
  font-size: 20px;
  font-weight: 700;
}

.portfolioFont {
  position: absolute;
  /* background: red; */
  color: #ffff;
  top: 0%;
  left: 20%;
  font-size: 50px;
  font-weight: 700;
}

.cardConainer1 {
  /* background: red; */
  position: absolute;
  width: 10%;
  height: 10%;
  top: 50%;
}

.cardConainer2 {
  position: absolute;
  width: 5%;
  height: 10%;
  left: 43.5%;
  top: 50%;
}

.cardConainer3 {
  position: absolute;
  width: 50%;
  height: 40%;
  left: 55.7%;
  top: 27.2%;
}

.tableAsset {
  font-size: 20px;
  font-weight: 700;
}

.TableContainer {
  color: #ffff;
  position: absolute;
  top: 80%;
}

.tableRow {
  color: #ffff;
}

.numberPage {
  position: absolute;
  margin-left: 10%;
  background: #ffff;
  color: #242f37;
  border: 1px;
  border-radius: 2px;
  text-align: center;
  width: 4%;
  top: 90%;
  left: 26%;
}
.numberPage2 {
  position: absolute;
  margin-left: 10%;
  color: #ffff;
  border: 1px;
  border-radius: 2px;
  text-align: center;
  width: 4%;
  top: 90%;
  left: 31%;
}
.numberPage3 {
  position: absolute;
  margin-left: 10%;
  color: #ffff;
  border: 1px;
  border-radius: 2px;
  text-align: center;
  width: 4%;
  top: 90%;
  left: 36%;
}

.arrowFun {
  display: inline-flex;
  padding-top: 1%;
  padding-left: 30%;
  width: 90%;
}

.arrowIcon {
  /* background: red; */
  padding-left: 24%;
  width: 80%;
}
