.mainContainer {
  background-color: #2b3453;
}

.tableFi {
  position: absolute;
  width: 142.52px;
  height: 36px;
  left: 36px;
  top: 31px;
}

.wallet {
  margin-left: 2%;
  padding-left: 85%;
  padding-top: 2%;
}

.btn1n2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 420px;
  height: 48px;
  left: 3.2%;
  top: 100%;
}

.buttons {
  background: #5ec2b7;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 48px;
  margin-left: 20px;
}

.buttons2 {
  background: #8b80f9;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 48px;
  margin-left: 20px;
}

.spanOr {
  color: #ffffff;

  position: absolute;

  width: 22px;
  height: 20px;
  left: 17%;
  top: 107%;

  font-weight: 700;
  font-size: 16px;
}

.h1 {
  position: absolute;
  color: white;
  width: 580px;
  height: 160px;
  left: 64px;
  top: 168px;
  font-weight: 700;
  font-size: 64px;
  line-height: 80%;

  text-transform: uppercase;
}

.para {
  position: absolute;
  width: 580px;
  height: 78px;
  left: 64px;
  top: 388px;

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;

  color: #ffffff;
}

.para2 {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.AppHeader {
  height: 70px;
  display: flex;
  background-color: #2b3453;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.div1 {
  height: 100%;
  display: flex;
  background-color: #2b3453;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.pic1 {
  position: absolute;
  width: 640px;
  height: 640px;
  left: 612px;
  top: 205.64px;

  /*filter: blur(2px);
  transform: rotate(-15deg);*/
}

.pic2 {
  position: absolute;
  width: 360px;
  height: 360px;
  left: 902.13px;
  top: 204px;

  /*filter: blur(5px);*/
  /*transform: rotate(20deg);*/
}

.pic3 {
  position: absolute;
  width: 427.69px;
  height: 427.69px;
  left: 616.64px;
  top: 50px;

  /*filter: blur(5px);*/
  /*transform: rotate(20deg);*/
}

.standard {
  position: absolute;
  display: flex;
  left: 5%;
  top: 112%;
}

.loading {
  max-width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formField {
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 2, solid, black;
  font-family: "Roboto", sans-serif;
}
.formButton {
  background: #5ec2b7;
  border: none;
  border-radius: 5px;
  margin: 2px 0 2px 0;
  margin-left: 20px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}
