.mainContainer {
  background-color: #2b3453;
}

.AppHeader {
  height: 70px;
  display: flex;
  background-color: #2b3453;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.div1 {
  height: 100%;
  display: flex;
  background-color: #2b3453;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.pic1 {
  height: 10%;
  width: 10%;
}

.pic2 {
  height: 10%;
  width: 10%;
}

.pic3 {
  height: 10%;
  width: 10%;
}

.standard {
  margin: auto;
  text-align: center;
  align-items: center;
}

.loading {
  max-width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 2, solid, black;
  font-family: "Roboto", sans-serif;
}
.formButton {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}
